<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>帮助</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/bootstrap.min.css">
</head>
<body>	
<div class="sysinfo" style="margin-left:5px;">

	<table class="table table-hover table-bordered table-condensed table-responsive" >
		<tr class="info" style="text-align:center;">
			<td>帮助</td>
		</tr>
		<tr>
			<td>
			<pre>这里是帮助信息<br>1.本产品为免费开源<br>2.严禁私自传播
			</pre>
			</td> 
		</tr>
		
	</table>	

</div>


</body>
</html>