<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>角色列表</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/system.css" />
	<style>
		.operation a{
			text-decoration:none;
			margin:0 5px;
		}
	</style>
</head>
<body>	
<div class="sysinfo" style="margin-left:5px;">

	<table class="table table-hover table-bordered table-condensed table-responsive" >
		<tr class="info" style="text-align:center;">
			<td colspan="7">
			角色管理
			<span style="float:right;"> [ <a href="__CONTROLLER__/add">添加角色</a> ] </span>
			</td>
		</tr>
		<tr class="warning">
			<td>编号</td> 
			<td>角色名</td>
			<td>权限</td>
			<td>角色描述</td>
			<td>注册时间</td>
			<td width="80px">操作</td>
		</tr>	

	<!-- 遍历 -->
	<volist name="list" id="vo">			
		<tr>
			<td>{$vo.id}</td> 
			<td>{$vo.name}</td>
			<td>{$vo.node_ids}</td>
			<td>{$vo.remark}</td>
			<td>{:date('Y-m-d H:i',$vo['add_time'])}</td>
			<td class="operation">
				<a href="__CONTROLLER__/edit/id/{$vo.id}">
					<img src="__PUBLIC__/Admin/images/icon_edit.gif" alt="编辑">
				</a>
				<a href="__CONTROLLER__/del/id/{$vo.id}" onclick="javascript:return confirm('你真的要删除吗？') ">
					<img src="__PUBLIC__/Admin/images/icon_drop.gif" alt="删除">
				</a>
			</td>
		</tr>
	</volist>
	<!-- end -->

	</table>	

</div>


</body>
</html>