
<!-- 底部导航 -->
<nav class="mui-bar mui-bar-tab">
            <a class="mui-tab-item mui-active" href="__MODULE__/Index/index">
                <span class="mui-icon mui-icon-home"></span>
                <span class="mui-tab-label">首页</span>
            </a>
            <a class="mui-tab-item house" href="__MODULE__/House/lists ">
                <span class="mui-icon mui-icon-settings"></span>
                <span class="mui-tab-label">找房</span>
            </a>            
            <a class="mui-tab-item message" href="__MODULE__/Message">
                <span class="mui-icon mui-icon-chatboxes"></span>
                <span class="mui-tab-label">消息</span>
            </a>
            <a class="mui-tab-item person" href="__MODULE__/User/index">
                <span class="mui-icon mui-icon-person"></span>
                <span class="mui-tab-label">我的</span>
            </a>
</nav>

<script src="__PUBLIC__/Home/js/mui.min.js"></script>
<script>

    //点击li时，执行foo_1函数
    mui(".mui-bar").on("tap","a",foo_1);

    function foo_1(){
      // console.log("foo_1 execute");
      window.location=this.href;
    }

</script>
<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
